<div class="category">
    <a href="/viewCategory/Ahmedabad">
        <div class="boxCategory">
            <img class="logo-cat" src="/icons/winter.svg" alt="Winter Logo">
            <h5>Ahmedabad</h5>
        </div>
    </a>
    <a href="/viewCategory/Mumbai">
        <div class="boxCategory">
            <img class="logo-cat" src="/icons/spring.svg" alt="Spring Logo">
            <h5>Mumbai</h5>
        </div>
    </a>
    <a href="/viewCategory/Delhi">
        <div class="boxCategory">
            <img class="logo-cat" src="/icons/summer.svg" alt="Summer Logo">
            <h5>Delhi</h5>
        </div>
    </a>
    <a href="/viewCategory/Kolkata">
        <div class="boxCategory">
            <img class="logo-cat" src="/icons/fall.svg" alt="Bengaluru Logo">
            <h5>Kolkata</h5>
        </div>
    </a>
</div>